<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title>Check a poker hand</title>
</head>
<body>
<p>Check a poker hand</p>

<form method="post" action="/home">
  <p>
    card：<label>
    <input type="text" name="dest" />
  </label><br />
    <input type="submit" value="送信" />
  </p>
</form>

</body>
</html>